body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #E0E0E0;
}

.card {
    width: 95%;
    margin: 20px 0;
    padding: 20px;
    background-color: #444444;
    border: 1px solid #666666;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-group {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.left {
    float: left;
}

.right {
    float: right;
}

label {
    display: block;
    margin-top: 10px;
    color: #E0E0E0;
}

input, select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #666666;
    border-radius: 4px;
    background-color: #555555;
    color: #E0E0E0;
}

button.estimate-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button.estimate-button:hover {
    background-color: #45a049;
}

#result-card {
    text-align: center;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 40%;
    background-color: #555555;
    border: 1px solid #666666;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
