<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How much is my car Worth?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>How much is my car Worth?</h1>
        <div class="card">
            <form action="/predict" method="post">
                <div class="form-group left">
                  <!--these are the features that the website asks for and these are the same out model takes in-->
                    <label for="year">Year:</label>
                    <input type="range" id="year" name="year" min="2005" max="2015" value="2010" oninput="this.nextElementSibling.value = this.value">
                    <output>2010</output>
                    <label for="make">Make:</label>
                    <select id="make" name="make">
                        <option value="TOYOTA">Toyota</option>
                        <option value="HONDA">Honda</option>
                        <option value="FORD">Ford</option>
                        <option value="CHEVROLET">Chevrolet</option>
                        <option value="NISSAN">Nissan</option>
                    </select>

                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required>

                    <label for="trim">Trim:</label>
                    <input type="text" id="trim" name="trim" required>

                    <label for="body">Body:</label>
                    <select id="body" name="body">
                        <option value="sedan">Sedan</option>
                        <option value="suv">SUV</option>
                        <option value="truck">Truck</option>
                        <option value="coupe">Coupe</option>
                        <option value="convertible">Convertible</option>
                    </select>
                </div>
                <div class="form-group right">
                    <label for="transmission">Transmission:</label>
                    <select id="transmission" name="transmission">
                        <option value="automatic">Automatic</option>
                        <option value="manual">Manual</option>
                    </select>

                    <label for="condition">Condition:</label>
                    <input type="range" id="condition" name="condition" min="1" max="49" value="25" oninput="this.nextElementSibling.value = this.value">
                    <output>25</output>

                    <label for="odometer">Odometer:</label>
                    <input type="number" id="odometer" name="odometer" required>

                    <label for="mmr">MMR:</label>
                    <input type="number" id="mmr" name="mmr" required>
                </div>
                <button type="submit" class="estimate-button">Estimate</button>
            </form>
        </div>
        <div class="card" id="result-card">
            <p id="result">{{ result }}</p> 
        </div>
    </div>
</body>
</html>
